* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #0d0e0d;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    font-size: clamp(16px, 2vw, 24px);
    font-family: 'Arial', sans-serif;
    gap: 15px;
    padding: 20px;
    background-color: #efffea;
}

h1 {
    font-size: 2em;
    margin: 20px 0;
    align-self: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #d5ffc9;
    padding: 30px;
    border-radius: 8px;
    align-self: center;
}

label {
    font-size: 1em;
    font-weight: bold;
}

select, 
input {
    margin: 0 2em;
}

button,
.btn {
    width: fit-content;
    padding: 0.5em 1em;
    background-color: #4CAF50;
    color: white;
    border: #4CAF50 2px solid;
    border-radius: 4px;
    font-size: 0.7em;
    cursor: pointer;
    align-self: center;
    text-decoration: none;
}

.result-container {
    display: flex;
    gap: 20px;
    background-color: #d5ffc9;
    padding: 30px;
    border-radius: 8px;
}

.result-value {
    font-size: 1.5em;
    font-weight: bold;
    color: #4CAF50;
}
